@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

html, body {
  height: 100%;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
  border-spacing: 0;
  font-family: 'Montserrat', sans-serif !important;
}

body {
  margin: 0;
  color: white;  
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
 

a{
  color:white !important;
}

h1, h2, h3, h4, h5, h6{ 
  color:white !important;
}

p{ 
  color:white !important;
}

h3{
  line-height: 0px;
}
 
.ant-anchor-wrapper {
    margin-left: -4px;
    padding-left: 4px;
    overflow: auto;
     color:#a6a6a6 !important;
    background-color: transparent !important;
}

.ant-anchor-ink {
   display: none !important;
}

.ant-anchor-link-title{
  color:#b3b3b3 !important;
  font-size: 14px;
  opacity: 0.9;
}

.ant-anchor-link-title:hover{
  color:white !important;
  opacity: 0.9;
}

.ant-anchor-link-title-active{
   color:white !important;
} 